# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
react
static/*
!static/uploads/.gitkeep
composer.lock

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/static

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# runtime
.database
.logs

# enviroment variables
.env
